/* line 6, ../../compass/sass/styles.sass */
.yellow-back {
  background-color: #F7CE5B;
}

/* line 9, ../../compass/sass/styles.sass */
.dark-back {
  background-color: #24272B;
}

/* line 12, ../../compass/sass/styles.sass */
.yellow-text {
  color: #F7CE5B;
}

/* line 15, ../../compass/sass/styles.sass */
.dark-text {
  color: #24272B;
}

/* line 19, ../../compass/sass/styles.sass */
.hawtness {
  height: 300px;
  font-size: 80px;
}
/* line 22, ../../compass/sass/styles.sass */
.hawtness img {
  margin: 25% 1%;
  max-width: 100%;
}

/* line 25, ../../compass/sass/styles.sass */
.greeting {
  transform: translateY(200px);
}

/* line 29, ../../compass/sass/styles.sass */
.userSearch {
  height: 300px;
}
/* line 32, ../../compass/sass/styles.sass */
.userSearch .searchBar label {
  margin: 15px 0px 0px 0px;
}
/* line 34, ../../compass/sass/styles.sass */
.userSearch .searchBar .input-group {
  border-radius: 0;
}
/* line 36, ../../compass/sass/styles.sass */
.userSearch .searchBar .input-group .form-control {
  border-radius: 0;
}
/* line 38, ../../compass/sass/styles.sass */
.userSearch .searchBar input {
  width: 80%;
}
/* line 41, ../../compass/sass/styles.sass */
.userSearch .searchBar .btn {
  width: 20%;
}

/* line 45, ../../compass/sass/styles.sass */
.results-wrapper img {
  width: 80px;
  height: 80px;
}
