<div class="col-xs-12">
	{{results}}
	<div class="col-xs-7 results-wrapper" ng-repeat="result in results">
		<div class="row">
			<div class="col-xs-12">
				<h4>{{result.username}}</h4>
			</div>
			<div class="col-xs-3">
				<img ng-src={{result.avatar}}>
			</div>
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-12">
						<div>{{result.bio}}</div>
						<div>{{result.location}}</div>
						<div>{{result.email}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>